@media screen and (max-width: 560px) {
    #authorizationForm {
        width: 100vw;
        margin-left: 0px;
    }

    #closeButton {
        margin-left: 90%;
    }

    #textPadding {
        width: 90%;
        margin-left: 5%;
    }

    .fieldContainer {
        width: 100%;
    }

    .inputField {
        width: 90%;
    }

    #inputButton {
        width: 100%;
    }
}